.productCard {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    background: white;

    overflow: hidden;

    box-shadow: 0px 0px 5px -2px grey;

}

.media {
    object-fit: cover;

    aspect-ratio: 1/0.8;
}

.content {
    display: flex;
    justify-content: space-between;

    padding: 16px 4px;

}

.content span {
    color: cornflowerblue;
    padding: 0 6px;
}